{% extends 'layout.html' %}

{% block body %}


<div class=content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Veg</legend>


                <div class="form-group">
                    {{ form.veg_name.label(class="form-control-label") }}
                    {% if form.veg_name.errors %}
                        {{ form.veg_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.veg_name.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>

                    {% else %}
                    {{ form.veg_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>

                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.image_file.label(class="form-control-label") }}
                    {% if form.image_file.errors %}
                        {{ form.image_file(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.image_file.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>

                    {% else %}
                    {{ form.image_file(class="form-control form-control-lg") }}
                    {% endif %}
                </div>




            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn-outline-info") }}
            </div>



        </form>

    </div>

{% endblock%}

