{% extends 'layout.html' %}

{% block head %}
<h1>Hi {{ name.title() }}!</h1>
{% endblock %}

{% block body %}
<!-- action means where you want the form to go to-->
<form action="/log_mileage" method="post">
    <input name="distance" placeholder="Distance in miles" type="text">
    {% if name == owner %}
    <select name="name">
        <!--disabled means the title of dropdown menu-->
        <option value="{{ name }}">{{ name }}</option>
        <option value="Other_Passenger">Other passenger</option>
    </select>
    {% endif %}

    <select name="passengers">
        <!--disabled means the title of dropdown menu-->
        <option disabled value="" selected>Number of passengers</option>
        <option value="1" >You with or without friends</option>
        <option value="2">You and Zac</option>
        <option value="3">You and Zac and one other</option>
        <option value="4">Zac and two others</option>
    </select>

    <input name="journey_type" placeholder="Journey Type" type="text">
    <input type="submit" value="Log mileage">
</form>

<form action="/total">
    <input type="submit" value="Total">
</form>

<form action="/pay">
    <input type="submit" value="Pay {{ owner.title() }}">
</form>
{% endblock%}