{% extends 'layout.html' %}
{% block body %}

<div class="content-section">
  <div class="media">
    <!-- Put picture into static folder. Ie., where main.css is -->
      <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">type something here</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
<h2>{{ name.title() }}'s account!</h2>

    </div>
  </div>
  <!-- FORM HERE -->

    <div class=content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ name }}'s account Info</legend>







                <div class="form-group">
                    {{ form.number.label(class="form-control-label") }}
                    {% if form.number.errors %}
                        {{ form.number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.number.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>


                     {% else %}
                    {{ form.number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                                    {{ form.answer.label(class="form-control-label") }}
                                    {% if form.answer.errors %}
                                        {{ form.answer(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.answer.errors %}
                                                <span>{{ error }}</span>

                                            {% endfor%}

                                        </div>

                                    {% else %}
                                    {{ form.answer(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>













            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>

    </div>




</div>



{% endblock %}