{% extends 'layout.html' %}
{% block body %}

<div class="content-section">
  <div class="media">
    <!-- Put picture into static folder. Ie., where main.css is -->
      <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">type something here</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
<h2>{{ name.title() }}'s account!</h2>

    </div>
  </div>
  <!-- FORM HERE -->

    <div class=content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ name }}'s account Info</legend>
                <div class="form-group">
                    {{ form.input_text.label(class="form-control-label") }}


                    <textarea class="form-control" rows="3" >{{ form.input_text.data }}</textarea>

                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>

                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.cost_per_mile.label(class="form-control-label") }}
                    {% if form.cost_per_mile.errors %}
                        {{ form.cost_per_mile(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cost_per_mile.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>

                    {% else %}
                    {{ form.cost_per_mile(class="form-control form-control-lg") }}
                    {% endif %}
                </div>




                <div class="form-group">
                    {{ form.weather_url.label(class="form-control-label") }}
                    {% if form.weather_url.errors %}
                        {{ form.weather_url(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.weather_url.errors %}
                                <span>{{ error }}</span>

                            {% endfor%}

                        </div>

                    {% else %}
                    {{ form.weather_url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>




            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn-outline-info") }}
            </div>

        </form>

    </div>




</div>



{% endblock %}