{% extends 'layout.html' %}

{% block head %}
<h1>Here is a log of your journeys</h1>
{% endblock%}

{% block body %}
    {% if name.lower() == owner %}

<form action="/total" method="post">
  <select name="name">
        <!--disabled means the title of dropdown menu-->
        <option disabled value="name" selected>Select user name</option>
      {% for this_name in names %}

      <option value="{{ this_name }}">{{ this_name }}</option>
        {% endfor %}

  </select>

    <input type="submit" value="Total">
</form>
    {% endif %}



<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Journey purpose</th>
      <th>Passengers</th>
    <th>Distance</th>
    <th>Cost</th>
      <th>Weather</th>
  </tr>
  <tr>
      {% for journey in filtered_journeys %}
            {% for column in journey %}
    <td>{{ column }}</td>
            {% endfor %}

  </tr>
        {% endfor %}
<tr></tr>

    <tr></tr><th id="total" colspan="2">Total distance:</th>
    <td>{{ total_distance }} miles</td>
    <th id="totalcost" colspan="2">Total cost:</th>
    <td>£{{ total_cost }}</td>

</table>

<form action="/pay">
    <input type="submit" value="Pay {{ owner.title() }}">
</form>

<form action="/">
    <input type="submit" value="Back">
</form>


{% endblock %}